{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                Welcome to Shopiee Cards!!
            </p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br>
                <h2>Dream Garage: Park Your Fantasy on the Wall</h2>
                <br>
                <p align="justify">
                    At Shopee Car Cards, we're fueled by a passion for two things: cars and bringing you the coolest automotive décor. We're car enthusiasts who believe your garage walls shouldn't be bare, your man cave shouldn't be missing that perfect touch, and your love for that classic muscle car or futuristic electric marvel deserves to be displayed with pride.
                    <br><br>
                    We curate a collection of high-quality posters featuring stunning car designs from vintage rides that defined eras to the sleek machines shaping the future of automobiles. Whether you're a die-hard fan of a specific brand, a motorsports aficionado, or simply appreciate the artistry and innovation poured into every vehicle, we have a poster that will rev your engine of excitement.
                    <br><br>
                    So, if you're looking to personalize your space, gift the perfect gearhead present, or simply surround yourself with the beauty and power of automobiles, browse our collection at Shopee Car Cards. We guarantee you'll find the poster that gets your heart racing.
                </p>
                <br><br><br>
            </div>
        </center>
    </div>
</div>

{% endblock %}